.footer {
    background: url("../img/footerimg.png");
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-self: center;
    align-items: center;
    color: #fff;
    flex-flow: 1;
    .footer-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-self: center;
        align-items: flex-start;
        max-width: 1920px;
        .flex-footer {
            width: 33%;
            padding: 10px;
            align-items: center;
            @media (max-width: 860px) {
                width: 100%;
            }
        }
        .footer-title {
            text-align: center;
            text-transform: uppercase;
            font-family: PTSans;
            font-weight: 500;
            font-size: 24px;
            line-height: 48px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            align-self: center;
            @media (max-width: 860px) {
                justify-content: center;
             }
            p {
                font-size: 14px;
                font-weight: 400;
            }
        }
        .footer-categories {
            display: flex;
            flex-flow: column nowrap;
        }
        .footer-categories-wrapper {
            display: flex;
            flex-flow: row wrap;
            @media (max-width: 860px) {
                justify-content: center;
             }
        }
        .footer-categories-wrapper > div {
            margin: 5px;
            padding: 5px;
            background-color: rgba(0, 0, 0, 0.55);
            cursor: pointer;
        }
        .footer-categories-wrapper > div:hover {
            background-color: rgba(0, 0, 0, 0.365);
        }
        .form-mail {
            display: flex;
            flex-flow: row nowrap;
            @media (max-width: 860px) {
               justify-content: center;
            }



            input {
                color: #fff;
                font-family: PTSans;
                background-color: #00000053;
                border: none;
                outline: none;
            }
        }
        .footer-mailing-subscribe:hover {
            background-color: rgba(0, 0, 0, 0.355);
        }

        .footer-mailing-subscribe {
            padding: 0 3px 0 3px;
            background-color: rgba(0, 0, 0, 0.55);
            cursor: pointer;

            p {
                margin: 10px;
            }
        }
    }
    
}
.footer-text{
    padding: 10px;
}
